 .grid-page {
     width: 90%;
     margin: auto;
     font-family: Arial, sans-serif;
 }

 .top {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
     gap: 20px;
 }

 .card {
     border-radius: 12px;
     padding: 30px;
     border-radius: 12px;
     border: 1px solid #eee;
     text-align: center;

 }

 .card img {
     width: 80px;
     margin-bottom: 15px;

 }

 .bottom {
     display: grid;
     grid-template-columns: 2fr 1fr;
     gap: 20px;
     margin-top: 40px;
 }

 .button {
     background-color: black;
     padding: 15px 32px;
     border-radius: 20%;
     color: white;
     font-size: 15px;
 }

 .yellow {
     display: grid;
     padding: 40px;
     border-radius: 12px;
     grid-template-columns: 1.5fr 1fr;
     align-items: center;
     background: #f9d438;
 }

 .text h1 {
     font-size: 36px;
     margin-bottom: 10px;

 }

 .text button {
     background: black;
     color: white;
     padding: 12px 25px;
     border-radius: 30px;
     border: none;
     cursor: pointer;

 }

 .image img {
     width: 190px;
 }

 .right {
     display: grid;
     justify-items: center;
     align-items: center;
 }