.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

.pagination li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid gray;
  color: black;  
  margin: 0 4px;
  border-radius: 5px;
  transition: background-color 1s;
}

.pagination li a.active {
  background-color:dodgerblue;
  color: white;
}

.pagination li a.disabled {
  color: #dddddd;
  cursor: not-allowed;
  pointer-events: none;
}
.pagination li a:hover:not(.active){
    background-color: lightgray;
}