.flex-page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.top {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #eee;
    text-align: center;
}

.card img {
    width: 80px;
    margin-bottom: 15px;

}

.bottom {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 40px;
    flex:2;
}

.button {
    font-size: 15px;
}

.yellowBox {
    display: flex;
    padding: 40px;
    gap:30px;
    border-radius: 12px;
    flex-direction: row;
    align-items: center;
    background: #f9d438;
}

.text h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.text button {
    background: black;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
}

.image img {
    width: 190px;
}

.right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
