*{
    margin: 0;
    box-sizing: border-box;
}
.right-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.card {
    border: 1px solid black;
    border-radius: 12px;
    padding: 30px;
    min-height: 150px;
    background-color: lightblue;
}

.card1,
.card2{
    flex: 0 0 calc(50% - 10px);
}

.card3,
.card4,
.card5{
    flex: 0 0 calc(33.333% - 15px);
}

.card6 {
    flex: 0 0 100%;
}

@media (max-width: 768px) {
    .right-section {
        flex-direction: column;
        width:90%;
    }
}