* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 20px;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.left-section {
    display: flex;
    flex-direction: column;
    padding: 70px;
    text-align: left;
    gap: 12px;
}

.button {
    background-color: black;
    padding: 10px;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    width: fit-content;
}

.right-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-basis: 250px;
    align-content: flex-start;
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
}

.top {
    display: contents;
    flex: 1 1 calc(50%-14px);
    min-height: 150px;
}

.middle {
    display: contents;
    flex: 1 1 calc(33.333%-14px);
    min-height: 150px;
}

.last {
    display: contents;
    flex: 1;
    min-height: 150px;
}

.card {
    border-radius: 12px;
    padding: 30px;
    border: 1px solid black;
    text-align: left;
    min-height: 150px;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .card {
        height: auto;
    }
}