.right-section {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 100%;
}

.top {
   display: flex;
   gap: 20px;
}

.top .card {
   flex: 1;  
}

.middle {
   display: flex;
   gap: 20px;
}

.middle .card {
   flex: 1; 
}

.end {
   display: flex;
}

.end .card {
   flex: 1;
}

.card {   border-radius: 12px;
   padding: 30px;
   border: 1px solid black;
   min-height: 150px;
}
@media (max-width: 768px) {
   .top,
   .middle,
   .end {
       flex-direction: column;
    }
}
/* 

.right-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.card {
    border: 1px solid black;
    border-radius: 12px;
    padding: 30px;
    min-height: 150px;
}

.card:nth-child(1),
.card:nth-child(2) {
    flex: 1 1 calc(50% - 5px);
}

.card:nth-child(3),
.card:nth-child(4),
.card:nth-child(5) {
    flex: 1 1 calc(33.333% - 5px);
}

.card:nth-child(6) {
    flex: 1 1 100%;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
} */


