.container {
  display: grid;
  /*grid-template-columns: 1fr 2fr 1fr;
  grid-template-columns: repeat(3,1fr);*/
  grid-template-columns: minmax(80px,1fr) 150px 150px;
  grid-template-rows: 80px 200px;
  background-color: dodgerblue;
  padding: 10px;
  column-gap: 50px;
  row-gap: 50px;
  /*gap:50px;   this is shorhand of column-gap and row-gap*/
  justify-content: space-evenly;
  align-content: start;
  place-content: center;
  grid-template-areas: 'myHeader myHeader myHeader myHeader myHeader';
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.item1{
      grid-row:1/span 2;

}