 .card >h2 + p{
    background-color: lightblue;
 }
 /* 
 div p{
    background-color: bisque;
 }
div > p{
    background-color: pink;
}  
div + p{
    background-color: yellow;
}   
div ~ p{
    background-color: aquamarine;
}*/
.table1>div div:first-child{
    color: blue;
}