* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    gap: 20px;
    margin:20px;
    justify-content:center;
    flex-wrap: wrap;
}
.card1 {
    padding: 30px;
    background-color: cadetblue;
    width:60vh;
    height:50vh;
    justify-content: center;
    align-items: center;
}
.card2{
    padding: 30px;
    background-color: coral;
    width: 20vh;
    height: 12vh;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .card1,.card2{
        width: 100%;
    }
}


