 /* DEMO FOR THE STATUS CODES  */

/* body {
  font-family: Arial;
  padding: 30px;
}

button {
  margin: 5px;
  padding: 10px;
}

pre {
  background: #f4f4f4;
  padding: 15px;
  margin-top: 20px;
} */



/* HOW 429 ERROR IS HANDLED */

body {
  font-family: Arial, sans-serif;
  padding: 40px;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#message {
  margin-top: 20px;
  font-weight: bold;
}
