h1{
            background-color: darkcyan;
        }
        div{
            background-color:indianred;
            opacity: 0.4;
            color:black;
        }
        body{
            background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAJQBBAMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAAAAQIDBAUH/8QAGhABAQEBAQEBAAAAAAAAAAAAAAECETEhEv/EABgBAQEBAQEAAAAAAAAAAAAAAAIBAAME/8QAFhEBAQEAAAAAAAAAAAAAAAAAAAER/9oADAMBAAIRAxEAPwD7H0dT0zwdPppNsZcCZVRmAAZAAIyAAMgACMQAJgRkyUqmqpKhFTJYlRSqqVUalNMqopqaqo0sSppU06ME1FVUVYNAIKL1ujrLqpp5nv1p05USnKzavqs1nDjLrQ4iU4iqBHGYABmAMJiYRKJWwiOkyEDLjMmkq+kUGpsTVUqos6VVSUaio00rOrBqKnSqmmCKirrOlBoBdCi9CU5WUqpXmx7WsqpWUq5WVpKfUyqiMqVUTDZYo0ymxKgKBmMyNGBGGYiMmQEY4rJpU+EyJqV2J4sGxFRWliKoVNRV1FWBWdRV1FdICKir0zpQaRDoVHVNLlYyrlcHqbSrlYyrlYtayrlZSrlRdaSqjOVUrKs5UymiqlNMqoimAGYwRsxEomYgAzFUqpWMlJKiYbEVFaVnVgVCdLRooFZVGl1np0jnUaRrxdZ68KDU9BAhbSrlYyrlcseiVtKvNYytMicbSqlZZrSVFadOVEVEJpKrqJVdYlKlQpFWEyqRQZBkwyAZsBGTNgK+HSrMkqpNYamosaVFWBWdRpdTpY51lpnppplXSBUaZ6aarPXhwKgEZIJWkrCVpK511lbStM1jmrlTHSN5V5rHNXKOE2lVGWa0lRVyrjOVcrEuU0dVKiqlOVMVEWGCNlMEEUyAZgVAvjISapFYaV8TVJqxzqKjS6jSwKy0y162rHXrpArPSNeL0z0cCoBGYIi5WcqpQrrGsrTNYyrzRKVtmtJWMq81K6RtKuVjKuUSbSqlZSrlQmnVSs+qlZWnVSolPqYUWaOn1mUE9UigrTKsxdIyrILUdO1PiYNFqNU7UUoFCdClb8VzrPTLTTVZ68OBWememmmejgVmADBjFys5VSi6RrKuVjK0lHC1rKvNYyrlQpW0q81jKqVDjeVcrGVUqYUrbqpWUquoTaVXWMq5UKVpKcrPp9RWhs5T62KvpdLpWsx9K0ulayC1PStTa2BTtTRam1RoqaaLVxzqKirrPXpwKms9LqNenBrMAEDmlVKzlVKiytJVyspVSobXq5WUpyphSt5VSsZVypha2lXKwlVKmFG8qpWM0qaGlG0q5WE0qaTCjf8ARzTH9Kmmwo26OspVTSYrTpWo/RXTY2r6VqP0OtiarqbU2i1hp1NHU2qNFqbRam1YFKop1FpQKVRVVNODUWfTAUXBFQBhiorvwwhnFwBGVFQBiipVQBjipVygCUPv1UoDKqU+mEOCVUoDFDACNStLoCVh0gGFJUwsGpTaQUSqKYIampoBRzqeGAov/9k=");
            background-repeat: no-repeat;
            background-position: right top;
            background-size: cover;
            background-attachment: fixed;
        }
        p{
            font-size: 30px;
        }
