.static{
    position:static;
    border:3px solid green;
}
.relative{
    position:relative;
    left:30px;
    border: 5px solid blue;
}
.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px double #73AD21;
}
.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
     border: 3px solid red;
    z-index: 1;
}
.sticky{
    position: sticky;
    top:0;
    padding: 5px;
    background-color: lavenderblush;
    border: 2px solid red;
}